@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

body {
    margin: 0;
    font-family: Han Sans TW;
}

/*-----header-----*/
header {
    min-height: 65px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header__container {
    padding-top: 8px;
    max-width: 1140px;
}

header:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
    background: #0089d1;
    background: linear-gradient(to right, #0089d1 5%, #01b6b2 95%);
}

.navbar {
    font-size: 18px;
    font-weight: bold;
    color: #808080;
}

.navbar__list {
    justify-content: flex-end;
    font-size: 16px;
    color: #333;
}

.nav__title {
    font-weight: normal;
}

.navbar__btn{
    color: white;
    background: #FF9292;
}

.navbar__btn:hover {
    color: white;
    background: #FF809E;
}

.toggler__bordercolor {
    color: none !important;
}

.toggler__border {
    outline-style: none;
}

.nav-link {
    height: 52px;
}

.navbar-nav {
    width: 500px;
    justify-content: space-evenly;
}

.nav-itemlink {
    border-bottom: white solid 5px;
}

.nav-itemlink:hover {
    border-bottom: #0089d1 solid 5px;
}

.nav-itemlink:hover .nav-link {
    color: #0089d1;
}


@media screen and (min-width: 992px) {
    .navbar__btn {
        order: 9;
    }
}

@media screen and (max-width:992px) {
    .nav__line {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .nav__title {
        display: none;
    }
}


/*-----article-----*/

article {
    background: url('./img/kv_bg.jpg') 0% 0% no-repeat padding-box;
    border-bottom: 12px solid #ff7482;
}

.contanier__KV {
    text-align: center;
}


/*----main----*/

main {
    background: url('./img/Mask\ Group\ 11.png');
}

.time {
    background: url('./img/preface_bg.png') no-repeat;
    background-size: auto 265px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 265px;

    position: relative;
}

@media screen and (max-width:767px) {
    .time {
        height: auto;
        /*有繼承 概念需注意*/
        background-repeat: no-repeat;
        background-position: center top;
        padding-bottom: 100px;
        background-size: cover;
    }
}

.time-content {
    position: relative;
    margin-left: 25%;
}

.flower-1 {
    position: absolute;
    left: -50px;
    top: -10px;
}

.time-title {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    color: #333;
}

@media screen and (max-width:767px) {

    .flower-1 {
        position: absolute;
        left: 16%;
        top: 0px;
    }

    .flower-2 {
        position: absolute;
        right: 16%;
        top: 0px;
    }

    .time-title {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:453px) {

    .flower-1 {
        position: absolute;
        left: 12%;
        top: 0px;
    }

    .flower-2 {
        position: absolute;
        right: 12%;
        top: 0px;
    }
}

@media screen and (max-width:400px) {

    .flower-1 {
        position: absolute;
        left: 2%;
        top: 0px;
    }

    .flower-2 {
        position: absolute;
        right: 2%;
        top: 0px;
    }
}

.time-text {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.45px;
    color: #333;
}

.time-warning {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #FF6F1B;
}

@media screen and (max-width:1390px) {
    .time-content {
        margin-left: 22%;
    }
}

@media screen and (max-width:1200px) {
    .time-content {
        margin-left: 17%;
    }
}

@media screen and (max-width:992px) {
    .time-content {
        margin-left: 6%;
    }

    .time-text {
        font-size: 16px;
    }
}


/*禮物文章*/
.gift {
    max-width: 1140px;
    padding: 60px 80px 40px;
    /* UI Properties */
    background: #FFF8EB 0% 0% no-repeat padding-box;
    border-radius: 41px;
    position: relative;
}

@media screen and (max-width:1200px) {
    .gift {
        padding: 60px 50px 40px;
        max-width: 10480px;
    }
}

@media screen and (max-width:992px) {
    .gift {
        padding: 60px 15px 10px;
        max-width: 1048px;
    }
}


@media screen and (max-width:400px) {
    .gift {
        padding: 60px 10px 40px;
    }
}

@media screen and (min-width:992px) {
    .gift {
        max-width: 1140px;
    }
}


.tape1 {
    /*練習兩種偽元素寫法*/
    background: transparent url('./img/Path 813.png');
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: -25px;
    width: 148px;
    height: 42px;
}

.tape2 {
    /*練習兩種偽元素寫法*/
    background: transparent url('./img/Path 813.png');
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    width: 148px;
    height: 42px;
}

.gift-title {
    font-size: 30px;
    font-weight: bold;
    color: #4D4D4D;
}

.gift-subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #4D4D4D;
}

.gift-ps {
    font-size: 14px;
    color: #FF6F1B;
}

.gift1_pic {
    max-width: 291px;
    height: 234px;
}

.gift-group__task__list__mark {
    width: 76px;
    height: 29px;
    line-height: 29px;
    right: 0px;
    top: 20px;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background: transparent linear-gradient(90deg, #FE7375 0%, #FF7914 0%, #FE674D 12%, #FE664F 29%, #FE5F63 40%, #FE5C6E 60%, #FE4469 87%, #FF2765 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px 0px 0px 20px;
}

@media screen and (max-width:400px) {
    .gift1_pic {
        max-width: 275px;
        height: 220px;
    }
}

a {
    text-decoration: none;
    color: #FF6F1B;
    outline: none;
}

.sec1 {
    position: absolute;
    left: 0;
    right: 0;

    top: -25px;
    width: 300px;
    height: 40px;
}

@media screen and (max-width: 767px) {
    .sec1 {
        top: -15px;
        width: 225px;
        height: 30px;
    }
}

.double {
    position: relative;
    border: 2px solid #FF6F1B;
    border-radius: 19px;

    font-family: Han Sans TC;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #4D4D4D;
}

.middle {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #4D4D4D;
}

.gift_group {
    background-color: white;
}

.gift_group_pic {
    width: 100%;
}

.card {
    padding-right: 0;
    padding-left: 0;
    border-radius: 28px;
    max-width: 297px;
    height: 310px;
    border: 0;
}

@media screen and (max-width:1200px) {
    .card {
        width: 240px;
    }
}

@media screen and (max-width:992px) {
    .card {
        width: 297px;
        height: 310px;
    }

}

.card-title {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #4D4D4D;
}

.card-text {
    display: block;
    text-align: left;
    font-family: Source Han Sans TW;
    letter-spacing: 0.37px;
    font-size: 15px;
    font-weight: bold;
    color: #808080;
}

.card-btn {
    width: 223px;
    height: 46px;
    border: 0;
    background: #FF9292 0% 0% no-repeat padding-box;
    box-shadow: 4px 5px 2px #0000003D;
    border-radius: 17px;
    opacity: 1;
}

.card-btn:hover {
    color: white;
    background: #FF809E;
}

@media screen and (max-width:1200px) {
    .card-btn {
        width: 210px;
    }
}

@media screen and (max-width:992px) {
    .card-btn {
        width: 223px;
    }
}

.btn-text {
    display: block;
    font-size: 18px;
}

/*得獎名單*/
.winner {
    max-width: 1140px;
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #4D4D4D;
    font-family: Han Sans TW;
}

@media screen and (max-width: 767px) {
    .winner {
        font-size: 16px;
    }
}

.prize-title {
    font-size: 26px;
}

.prize-table {
    font-weight: 500;
}

table {
    border-radius: 12px;
    overflow: hidden;
    /*超出邊框的背景隱藏*/
}

th {
    background-color: #FFF8EB;
    padding: 15px 40px;
}

td {
    background-color: white;
    padding: 15px 40px;
}

@media screen and (max-width: 767px) {
    th {
        padding: 15px 20px;
        font-size: 16px;
    }

    td {
        padding: 15px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    th {
        padding: 15px 5px;
    }

    td {
        padding: 15px 5px;
    }
}

.prize-link1 {
    word-break: break-all;
}

.prize-link2 {
    color: #690000;
    word-break: break-all;
}

/*更新版本*/
.update_vision {
    max-width: 1140px;
    text-align: end;
    font-size: 16px;
    color: #4d4d4d;
    padding: 20px 0;
    font-weight: bold;
}

/*----footer----*/

.link__title:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 14px;
    top: 20%;
    left: -12px;
    background: #DDD;
}

footer {
    padding: 32px 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background: #6b6b6b 0% 0% no-repeat padding-box;
}

.footer-container {
    max-width: 1140px;
}

/*
.footer-nav{
    max-width: 1140px;
    font-size: 14px;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
} */

.footer-link__list {
    padding: 10px;
    list-style: none;
    color: white;
    text-align: start;
    height: auto;
}

.link__title {
    width: 200px;
    margin-left: 10px;
    position: relative;
}

.link__url {
    width: 200px;
    padding-left: 10px;
}

.about {
    font-family: JhengHei;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.gift_page {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #70707099 ;
}

.page_content {
    max-width: 663px;
    height: 558px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    position: relative;
    border-radius: 10px 10px 10px 0;
}

.page_img1{
    position: absolute;
    left: 0;
    bottom: 0;
}

@media screen and (max-width:992px) {
    .page_img1{
    width: 180px;
    }
}

.page_img2{
    position: absolute;
    top: 100px;
    right: 40px;
}

@media screen and (max-width:992px) {
    .page_img2{
    width: 135px;

    position:absolute;
    top: 450px;
    right: 50px;
    }
}

.page_img3{
    position: absolute;
    top: 200px;
    right: 20px;
}

@media screen and (max-width:992px) {
    .page_img3{
        width: 45px;
        position:absolute;
        top: 500px;
        right: 35px;
    }
}


.gift_page_title{
    color: #FF2765;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

.gift_page_content{
    text-align: center;
    margin: 20px 140px;

    height: 350px;
    overflow: auto;
}

@media screen and (max-width:767px) {
    .gift_page_content{
        text-align: center;
        margin: 20px 100px;
        width: auto;
        height: 350px;
        overflow: auto;
    }
}

@media screen and (max-width:450px) {
    .gift_page_content{
        text-align: center;
        margin: 20px 75px;
        width: auto;
        height: 350px;
        overflow: auto;
    }
}

@media screen and (max-width:370px) {
    .gift_page_content{
        text-align: center;
        margin: 20px 40px;
        width: auto;
        height: 350px;
        overflow: auto;
    }
}

.gift-page-btn {
    font-size: 22px;
    width: 206px;
    height: 46px;
    border: 0;
    background: #FF9292 0% 0% no-repeat padding-box;
    border-radius: 25px;
}

.gift-page-btn2 {
    font-size: 22px;
    width: 206px;
    height: 46px;
    color: #FF9292;
    border: #FF9292 solid 1px;
    background: white 0% 0% no-repeat padding-box;
    border-radius: 25px;
}

.gift-page-btn:hover {
    color: white;
    background: #FF809E;
}

@media screen and (max-width:570px) {
    .gift-page-btn {
        font-size: 22px;
        width: 170px;
        height: 46px;
        border: 0;
        background: #FF9292 0% 0% no-repeat padding-box;
        border-radius: 25px;
    }

    .gift-page-btn2 {
        font-size: 22px;
        width: 170px;
        height: 46px;
        color: #FF9292;
        border: #FF9292 solid 1px;
        background: white 0% 0% no-repeat padding-box;
        border-radius: 25px;
    }
}

#close_page{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;    
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 0px 0px 0px;
    border-radius: 4px;
}